body {
    margin: 0 auto;
    max-width: 800px;
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.form-container {
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    padding: 32px 24px;
    font-size: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.form-container input {
    width: 95%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: 1px solid #414141;
    margin-bottom: 16px;
}

.form-container textarea {
    width: 95%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: black;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 16px;
}

.form-container .submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    color: #000;
    font-weight: 600;
    width: 20%;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: .4s;
}

.form-container .submit-btn:hover {
    background-color: #fff;
}

.metadata {
    margin: 24px;
    border-top: 1px solid #eee;
    padding-top: 8px;
}

.metadata p {
    margin: 4px 0;
    font-size: 16px;
    color: #555;
}

.error-message {
    color: red;
    font-weight: 600;
}